@charset "urf-8";
/* 전체영역 */
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue, tahoma, Apple SD Gothic Neo, Malgun Gothic, \b9d1\c740\ace0\b515, dotum, \b3cb\c6c0, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.container {
  width: 100%;
}
header .inner,
main .inner,
footer .inner {
  max-width: 1280px;
  margin: auto;
}
main .new > .inn-inner, main .best > .inn-inner,main .notice > .inn-inner{
  max-width: 750px;
  padding: 30px;
  
}
/* 헤더 */
header {
  width: 100%;
  /* height: 165px; */
  /* background-color: antiquewhite; */
}
/* 해더탑 */
.header_top {
  display: flex;
  width: 100%;
  height: 49px;

  border-bottom: 2px solid #ddd;
}
/* 해더탑 로고 */
.header_logo {
  padding-: ;
  display: block;
  width: 49px;
  height: 49px;
}
.header_logo img {
  width: 100%;
  height: 100%;
  margin-top: 0.5px;
}
/* 해더탑 메뉴 */
.header_menu {
  justify-content: flex-end;
  display: block;
  width: 100%;
  height: 60%;
  display: flex;
  text-align: center;
  line-height: 49px;
  margin-top: 8px;
  opacity: 0.7;
  /* background-color: #333; */
}
.header_menu img {
  padding-right: 15px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
/* .header_menu > a:nth-child(3){    
    border-right: 2px solid #ddd ;
    
} */
.header_menu a:last-child {
  height: 18px;
  margin-top: 7px;
  padding: 3px 0 5px 15px;
  font-size: 15px;
  font-weight: 530;
  line-height: 1;
  border-left: 2px solid #ddd;
}
/* 해더 바텀 */
.header_bottom {
}
/* 해더바텀 위로고 */
.header_bt_tname {
  width: 300px;
  height: 40px;
  margin: auto;
  margin-top: 40px;
}
.header_bt_tname a img {
  width: 100%;
  height: 100%;
}
/* 해더바텀 하단메뉴 */
.header_bt_bmenu {
  display: block;
  display: flex;
  justify-content: space-between;
}
.header_bt_bmenu li {
  padding: 30px 15px 0 0;
  font-size: 15px;
}
.header_bt_bmenu h4{
  font-size: 15px;
}
.name {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 20px 0 5px 0;
  padding: 15px;
  border: 1.5px solid #333;
  border-radius: 7px;
  background: url(../images/find1.png) no-repeat 98%;
  background-size: 30px;
  opacity: 0.3;
}
/* 메인 */
/* 메인배너 */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual_Swiper {
  width: 100%;
  max-width: 1280px;
  height: 420px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: bold;
}
.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.6);
  width: 10px;
  height: 10px;
}
/* 메인 new */
.new{  
  padding: 0 0 0 300px;
  gap: 10px;
}
.inn-inner span{
  padding-right: 10px ;
  font-size: 20px;
}
.inn-inner span:first-child{
  font-weight: 550;
}
.new_img a {
  width: 190px;
  height: 254.3px;
  padding: 20px;
  
}

.new_img a img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
.new_img h3, .best_img h3{
  margin: 5px 0 0 5px;
  line-height: 1.3;
}
.new_img a p, .best_img p{
  font-weight: 550;
}
/* 메뉴 best */
.best_img li{
  width: 100%;
}
.best_img li a{  
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.best_img a img{
  width: 156px;
  height: 156px; 
  border-radius: 10px;
  
}

