@charset "urf-8";
/* 전체영역 */
html,
body {
  position: relative;
  height: 100%;
  
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue, tahoma, Apple SD Gothic Neo, Malgun Gothic, \b9d1\c740\ace0\b515, dotum, \b3cb\c6c0, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.container {
  width: 100%;
}
header .inner,
main .inner,
footer .inner {
  max-width: 1280px;
  margin: auto;
}
.in_inner{
  max-width: 750px;
  padding: 30px 30px 0px 30px;
  margin: auto;
}
/* 헤더 */
header {
  width: 100%;
  /* height: 165px; */
  /* background-color: antiquewhite; */
}
/* 해더탑 */
.header_top {
  display: flex;
  width: 100%;
  height: 49px;

  border-bottom: 2px solid #ddd;
}
/* 해더탑 로고 */
.header_logo {
 
  display: block;
  width: 49px;
  height: 49px;
}
.header_logo img {
  width: 100%;
  height: 100%;
  margin-top: 0.5px;
}
/* 해더탑 메뉴 */
.header_menu {
  justify-content: flex-end;
  display: block;
  width: 100%;
  height: 60%;
  display: flex;
  text-align: center;
  line-height: 49px;
  margin-top: 8px;
  opacity: 0.7;
  /* background-color: #333; */
}
.header_menu img {
  padding-right: 15px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
/* .header_menu > a:nth-child(3){    
    border-right: 2px solid #ddd ;
    
} */
.header_menu a:last-child {
  height: 18px;
  margin-top: 7px;
  padding: 3px 0 5px 15px;
  font-size: 15px;
  font-weight: 530;
  line-height: 1;
  border-left: 2px solid #ddd;
}
/* 해더 바텀 */

/* 해더바텀 위로고 */
.header_bt_tname {
  width: 300px;
  height: 40px;
  margin: auto;
  margin-top: 40px;
}
.header_bt_tname a img {
  width: 100%;
  height: 100%;
}
/* 해더바텀 하단메뉴 */
.header_bt_bmenu {
  display: block;
  display: flex;
  justify-content: space-between;
}
.header_bt_bmenu li {
  padding: 30px 15px 0 0;
  font-size: 15px;
}
.header_bt_bmenu h4{
  font-size: 15px;
}
.name {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 20px 0 5px 0;
  padding: 15px;
  border: 1.5px solid #333;
  border-radius: 7px;
  background: url(../images/find1.png) no-repeat 98%;
  background-size: 30px;
  opacity: 0.3;
}
/* 메인 */
/* 메인배너 */
.inner .swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual_Swiper {
  width: 100%;
  max-width: 1280px;
  min-width: 300px;
  height: 420px;
}


.inner .swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: bold;
  
}
.inner .swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.6);
  width: 10px;
  height: 10px;
}
/* 메인 new */
.new .best .icon{  
  padding: 0 0 0 30px;
  gap: 10px;
}
.in_inner span{
  padding-right: 10px ;
  font-size: 20px;
}
.in_inner span:first-child{
  font-weight: 550;
}
.newSwiper{ 
  width: 200px;
  
}
.newSwiper .swiper-slide{
  display: flex;  
  padding: 20px 20px 0 20px ;
}

.newSwiper .swiper-slide> a > img{
  width: 145px;
  border-radius: 10px;
  
}
.newSwiper h3{
  padding-top: 10px;
  font-size: 15px;
  text-align: left;
  line-height: 1.1;
}
.newSwiper p{
  font-weight: 550;
  margin-bottom: 20px;
}
/* 메인 아이콘 */
.icon{
  width: 100%;
  padding: 50px 30px 0 30px;
}

.icon-top ,.icon-bottom {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.icon-top{
border-top: 3px solid rgba(0, 0, 0, 0.3) ;
}
.icon-bottom{
  border-bottom: 3px solid rgba(0, 0, 0, 0.3) ;
  margin-bottom: 50px;
}
.icon-top a, .icon-bottom a{
  margin: auto;
  width: 60px;
  
}
.icon-bottom a:first-child{
  width: 62px;
}
.icon-bottom a:last-child{
  width: 58px;
}
.icon-top a img , .icon-bottom a img{
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  
}
/* 메인 best */
.best{
  width: 100%;
  margin-top: 70px;
}
.best_img li{
  width: 100%;
  
}
.best_img li a{  
  width: 100%;  
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.best_img a img{
  width: 156px;
  height: 156px; 
  border-radius: 10px;  
}
.no_1{
  display: block;
  position: absolute;
  padding: 66px;
  margin-left: -55px ;
  margin-top: -100px;
  z-index: 99999;
}
.best_img li a h3{
  position: relative;
  font-size: 1.10rem;
}
.best_img li a p:first-child{
  padding: 7px 10px 7px 0;
  font-size:0.9rem;
  color: #888;
  text-decoration: line-through;
  text-decoration-color: #888;
}
.best_img li a p:last-child{
  font-size:0.9rem;
  line-height: 1.3;
  padding: 7px 7px 7px 15px;
}
.best_img li a em{
  color: rgb(248, 46, 46);
}
.best_img li span{
  font-weight: 550;
}
.best_img li h3 img{
  position: absolute;
  top: 76%;
  width: 15px;
  height: 15px;
}
.price_2{
  line-height: 1.8;
}
.best h5{
  background-color: rgba(0, 0, 0, 0.3) ;
  border-radius: 10px;
  padding: 5px;
  margin: 0 40px  20px 40px ;
  text-align: center;
}
.notice , .notice img {
  width: 100%;
}
.qna{
  padding: 50px 0 35px;
}
.sns{
  display: flex;
}
.notice h6{
  padding: 0 0 5px 20px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7)
}
.sns img{
  width: 25px;
  padding-right: 5px;
}
.sns p{
  color: rgba(0, 0, 0, 0.3) ;
}
