@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    display: block;
}
.wrap{
    width: 1200px;
    height: 700px;
    margin: auto;
    background-color: antiquewhite;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: aquamarine;
}
.header_logo{
    width: 200px;
    height: 100%;
    line-height: 100px;
    padding: 10px;
    /* background-color: blue; */
}
.header_menu{
    width: 600px;
    height: 50px;
    margin: 25px 0;
    margin-left: 370px;
    background-color: blue;
}
nav .gnb{
    display: flex;
    text-align: center;
}
.gnb a{
    width: calc(600px / 4);
    padding: 15px;
    text-align: center;
}
.gnb .gnb_sub{
    display: none;
}
.gnb > li:hover >a {
    font-weight: bold;
    color: #fff;
}
.gnb > li:hover > .gnb_sub{
   
    display: block;
}
.gnb_sub > li:hover> a{
    display: block;
    font-weight: bold;
    color: #df2727;
}